.activityHero{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 89px;
}
.heroImage img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.heroImage figure{
    position: relative;
}

.heroImage figure:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 90%);
}
.swiper-button-next:after,.swiper-button-prev::after{
    display: none!important;
}
.roomlink{
    text-decoration: none!important;
}
.activityHero h1{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
}

.activityHero span{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #F8F8F8;
}

.activityHero article{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    z-index: 3;
    position: absolute;
    gap: 14vw;
    bottom: 5vh;
}

.heroIconGroup .heroIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.heroIconGroup{
    display: flex;
    gap: 50px;
    align-items: flex-end;
}

.activityHeaderText p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgba(35, 48, 56, 0.8);
    margin: 53px 31.25vw 0 31.25vw;
}

.line{
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    width: 100%;
    margin-top: 73px;
    margin-bottom: 90px;
    opacity: 0.5;
}

.activityConcertSlider {
    margin-left: 22.55vw;
    margin-bottom: 80px;
    margin-top: 100px;
}


.activityConcertSlider img {
    object-fit: cover;
    width: 410px;
}

.activityConcertSlider figure {
    height: 650px;
    position: relative;
    width: 680px;

}

.activityConcertSlider figure:before {
    content: '';
    position: absolute;
    width: 410px;
    height: 602px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.slider-row {
    width: 75vw;
    margin-left: -5vw;
}

.row-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.icon-row {
    width: 24.323vw;
}
.activityConcertSlider .swiper-button-prev{
    left: 451px;
    top: 400px;
}
.activityConcertSlider .swiper-button-next{
    left: 966px;
    right: auto;
    top: 400px;
}
.activityConcertSlider figure:after {
    content: '';
    position: absolute;
    width: 410px;
    height: 610px;
    border: 1px solid #CFCFCF;
    left: 57px;
    top: 48px;
    z-index: -1;
}

.activityConcertSlider .swiper-pagination{
    margin-left: 33.5%;
    bottom: 10px;
}
.activitySwiper .swiper-pagination{
    bottom: -4px;
}
.activityConcertSlider h5 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 1%;
    left: 1%;
    text-transform: uppercase;
}

.activitySlider .swiper-button-next {
    opacity: 0.5;
    top: 400px;
    right: 444px;
    left: auto;

}

.activitySlider .swiper-button-next:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.activitySlider .swiper-button-next:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.activitySlider .swiper-button-prev {
    opacity: 0.5;
    top:400px ;
    right: 960px;
    left: auto;
}

.activitySlider .swiper-button-prev:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.activitySlider .swiper-button-prev:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

/* Activity Slide End */


.activitySlider {
    margin-bottom: 100px;
    margin-right: 22.55vw;
}



.activitySlider .swiper-pagination-bullet-active {
    color: #66252B;
}
.activityConcertSlider .swiper-pagination-bullet-active {
    color: #66252B;
}

.activitySlider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: transparent;
}
.activityConcertSlider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: transparent;
}
.activitySlider .swiper-pagination, .activityConcertSlider .swiper-pagination {
    width: 60% !important;
}



.activitySlider{
    position: relative;
    z-index: 4;
}
.activitySwiper img {
    object-fit: cover;
    width: 410px;
}

.activitySwiper figure {
    height: auto;
    position: relative;
    width: 410px;
}

.activitySwiper figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.activitySwiper figure:after {
    content: '';
    position: absolute;
    width: 99%;
    height: 100%;
    border: 1px solid #CFCFCF;
    left: 57px;
    top: 48px;
    z-index: -1;
}
.activitySlider::after{
    content: '';
    width: 10vw;
    background-color: white;
    height: 105%;
    position: absolute;
    right: -33%;
    top: -5%;
    z-index: 5;
}
.activitySwiper h5 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 1%;
    left: 115px;
    text-transform: uppercase;
}

.sliderIcon img {
    width: 50%;
    height: auto;
    object-fit: cover;
    opacity: 0;
}

.sliderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}


.activitySwiper .swiper-button-next:not(:hover),.activityConcertSlider .swiper-button-next:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.activitySwiper .swiper-button-next:hover ,.activityConcertSlider .swiper-button-next:hover{
    opacity: 1;
    transition: opacity 0.1s linear;
}


.activitySwiper .swiper-button-prev:not(:hover) ,.activityConcertSlider .swiper-button-prev:not(:hover){
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.activitySwiper .swiper-button-prev:hover ,.activityConcertSlider .swiper-button-prev:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}
.aquapark figure{
    position: relative;
    margin: 0;
    width: 100vw;
}
.aquapark figure:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.aquapark img{
    width: 100vw;
    object-fit: cover;
}
.aquapark h3{
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
}
.aquapark h3:after{
    content: '';
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    position: absolute;
    width: 50%;
    margin-left: -20%;
    margin-top: 15px;
}
.aquapark{
    position: relative;
}
.aquapark article{
    position: absolute;
    bottom: 50px;
    left: 20.104vw;
}


.aquapark p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 30px;
}
.aquapark .moreButton {
    justify-content: left;
}
.moreButton .roomlink{
    display: none!important;
}
.aquapark .moreButton a{
   
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 700;
        text-decoration: none!important;
        font-size: 14px;
        line-height: 17px;
        width: 150px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #233038;
        background: transparent;
        margin-top: 30px;
        border: 1px solid white;
    
}
.aquapark .moreButton a:not(:hover){
    color: #F8F8F8;
    background: transparent;
    transition: all 0.3s linear;
}
.aquapark .moreButton a:hover{
    background: #FFFFFF;
    color: #233038!important;
    transition: all 0.3s linear;
}
.otherEntertainment{
        margin-top: 5vw;
        margin-left: 16.927vw;
        position: relative;
}


.otherEntertainment h3{
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #233038;
}
.otherEntertainmentSwiper{
    padding-top: 3vw;
}
.entertainmentImg span{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    text-align: left ;
    color: #FFFFFF;
    text-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    z-index: 2;
}
.activityConcertSwiperSlider{
    padding-bottom: 50px;
}
.activitySwiper{
    padding-bottom: 85px;
}
.entertainmentImg figure::after{
    content: ' ';
    width: 345px;
    height: 100%;
    position: absolute;
    max-width: 345px;
    left: 0;
    border: 1px solid #CFCFCF;
    z-index: 0;
    top: -48px;
    margin-left: 48px;
    opacity: 0.5;

}
.entertainmentImg img{
    width: 345px;
    z-index: 1;
    position: relative;
    height: auto;
    max-width: 345px;
}
.entertainmentImg figure{
    margin-top: 48px;
    position: relative;
}

.entertainmentImg figure:before{
    content: '';
    position: absolute;
    width: 100%;
    max-width: 345px;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}


.entertainmentImg{
    position: relative;
}



.pageUpButton{
    margin-top: 0;
}


.activitySlider::after{
    display: none;
}
@media screen and (max-width: 1200px) {

.activityConcertSlider .swiper-button-prev,.activitySlider .swiper-button-next{
    display: none;
}
.activitySlider .swiper-button-prev{
    right: 448px;
}
.activityConcertSlider .swiper-button-next{
    left: 449px;
}
}
@media screen and (max-width: 880px) {


    .heroImage img{
        height: 53vh;
    }
    .activityHero article{
        flex-direction: column;
        gap: 5vw;
        align-items: center;
    }
    .activityHeaderText p{
        margin: 53px 15.25vw 0 15.25vw;
    }

 
}

@media screen and (max-width: 576px) {
    .activitySwiper figure{
        width: 280px;
    }
    .heroImage img{
        height: 65vh;
    }
    .activityConcertSlider figure,.activitySlider figure{
        height: auto;
    }
    .heroImage{
        margin-bottom: 0;
    }

    .activityHero h1{
        font-size: 28px!important;
        line-height: 30px !important;
    }
    .activityHero article{
        gap: 10vw;
    }
    .activityHeaderText p{
        font-size: 15px!important;
        line-height: 26px!important;
        margin: 40px 15.25vw 0 15.25vw;
    }
    .line{
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .activitySwiper .swiper-pagination{
       bottom: 0px;
    }
    .activityConcertSlider .swiper-pagination{
        bottom: -6px;
    }
.activityConcertSlider,.activitySwiper{
    padding-bottom: 60px;
}
    .activityHero svg{
        width: 60%;
    }
    .heroIconGroup{
        gap: 10px;
    }
    .activityHero span{
        font-size: 13px!important;
    }


    .aquapark img{
        
        height: 100vw;
    }
    .entertainment{
        align-items: center;
        flex-direction: column!important;
        gap: 14vw!important;
    }
    .entertainmentImg{
        width: 80%;
    }
    .activitySwiper h5{
        left: 85px;
    }
    .otherEntertainment{
        margin-left: 5vw;
    }
    .entertainmentImg figure:before{
        width: 280px;
    }
    .entertainmentImg img{
        width: 280px;

    }
    .entertainmentImg figure::after{
        width: 280px;
        top: -38px;
        margin-left: 38px;
    }
    .pageUpButton{
        margin-top: 30px!important;
    }
    .activitySwiper img, .activityConcertSlider img{
        width: 280px;
    }
    .activitySwiper figure:after,.activityConcertSlider figure:after{
        left: 38px;
        width: 280px;
        height: 411px;
        top: 38px;
    }
    .activityConcertSlider figure:before,.activitySwiper figure:before{
        width: 280px;
        height: 411px;
    }
    .activityConcertSlider{
        margin-left: 5vw;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .activitySlider{
        margin-right: 5vw;
        margin-bottom: 50px;
    }
    .activityConcertSlider .swiper-button-next{
        top: 335px;
        left: 306px;
    }
    .activitySlider .swiper-button-prev{
        top: 335px;
        right: 302px;
    }
}

.activitySvg{
    width: unset !important;
    height: unset !important;
    object-fit: unset!important;
}