body {
    position: relative;
}

.alacarteHero {
    margin-top: 88px;
}

.alacarteHero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gastroHeroText {
    position: relative;
}
.findLeftSide img{
    width: clamp(15px, 1.563vw, 30px);
    height: auto;
}
.alacarteHero figure {
    position: relative;
}
.roomlink{
    text-decoration: none!important;
}
.alacarteSvg {
    height: clamp(15px, 1.429vw, 29px)!important;
    width: auto!important;
}

.alacarteHeroSvg{
    height: clamp(30px, 2vw,40px);
    width: auto;
}
.moreButton a:hover {
    color: #FFFFFF!important;
    background-color: #232323;
    transition: all 0.2s linear;
}
.card-text-wrapper .moreButton{
    display: flex;
    justify-content: flex-end!important;
    align-items: flex-end!important;
}
.card-text-wrapper .moreButton a{
    font-size: clamp(11px, 0.729vw,14px);
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: 'Montserrat', serif;
    text-decoration: none !important;
    font-style: normal;
    text-align: center;
    color: #233038;
    white-space: nowrap;
    border: 1px solid #868686;
    font-weight: 700;
    width: clamp(100px, 7.5vw, 150px);
    height: clamp(28px, 2.15vw, 42px);
}
.alacarteHero figure::before {
    content: '';
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
}

.alacarteHero h1 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(25px, 2.344vw,40px);
    line-height: clamp(40px, 2.6vw,51px);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    bottom: min(30px, 1.823vw);
}


.alacarteIcons span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(15px, 1vw,20px);
    line-height: clamp(20px, 1.563vw,30px);
    color: rgba(35, 48, 56, 0.8);
    display: block;
    margin-top: 40px;
}

.alacarteHero .alacarteIcons {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.mobile,.gastroHeroText{
    width: 50%;
}
.alacarteHeroLower{
    padding: min(35px, 3.8vw, 75px) 5vw 0px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(15px, 1.4vw,28px);
    align-items: center;
    width: 100vw;

}
.gastroP{
    width: 50%;
}
.alacarteHeroUpper{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(15px, 1.4vw,28px);
    align-items: center;
}
.alacarteHero .gastroIconGroup {
    display: flex;
    flex-direction: row;
    gap: clamp(28px, 1.823vw, 35px);
}



.alacarteHero .gastroP p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 0.781vw,15px);
    line-height: clamp(15px, 1.146vw,22px);
    color: #000000;
    width: min(533px, 58%);
    display: block;
}

.alacarteHero:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #A1A1A1;
    margin-top: clamp(50px, 4.167vw,80px);
    opacity: 0.5;
}
.foodHeading{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


}
.findAlacarte {
    margin-top: clamp(100px, 8.2vw,160px);
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 1180px;
    width: 80vw;
    align-items: center;
}

.findLeftSide {
    display: flex;
    flex-direction: row;
    padding-left: clamp(10px, 0.781vw,15px);
    justify-content: center;
    align-items: center;
    gap: clamp(15px, 1.563vw,30px);
}

.findLeftSide h2 {
    font-family: 'Lora', serif;
    margin-bottom: 0px!important;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(25px, 1.823vw,35px);
    line-height: clamp(35px, 2.344vw,45px);
    color: rgba(35, 48, 56, 0.8);
    text-transform: uppercase;
}

.restaurant {
    padding: clamp(10px, 0.781vw,15px) 0px;
    background: #F8F8F8;
    width: calc((100% - min(50px, 2.6vw) )/2);
    height: fit-content;
    max-height: 319px;
    position: relative;
}
.alacarteGridWrapper{
    display: flex;
    padding: min(89px, 4.6vw) 0px min(191px, 9.8vw) 0px;
    width: 100vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.alacarteGrid {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1180px;
    width: 80vw;
    align-items: center;
    row-gap: min(50px, 2.6vw);
    column-gap: min(50px, 2.6vw);
    position: relative;

}
.imglink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px clamp(10px, 0.781vw,15px);
    align-items: center;
}

.restaurant img {
    width: 100%;
    height: auto;
    height: auto;
    object-fit: cover;
}

.restaurant .restaurantsHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(10px, 0.781vw,15px);
    margin-top: min(30px, 1.563vw);
    margin-left: min(40px, 2vw);
}

.card-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: min(50px, 2.6vw);
    padding: min(10px, 0.5vw) clamp(10px, 0.781vw,15px) 0px min(40px, 2vw);
}

.card-text-wrapper p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(11px, 0.677vw,13px);
    margin-bottom: 0px!important;
    line-height: clamp(13px, 0.938vw,18px);
    width: 100%;
    height: clamp(26px, 2vw,36px);
    overflow: hidden;
    color: rgba(35, 48, 56, 0.8);
    text-align: left;
}

.restaurant h3 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(15px, 1.3vw,25px);
    margin-bottom: 0px!important;
    line-height: clamp(25px, 1.6vw,32px);
    color: rgba(35, 48, 56, 0.8);
    text-transform: uppercase;
}

.fish img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    right: 5%;
    bottom: 29%;
    max-width: 376px;
    z-index: -1;
}

.pageUpButton {
    margin-bottom: 0;
    padding-bottom: 30px;
    text-align: center;
}

.findAlacarte-wrapper {
    position: relative;
}

.vh {
    position: relative;
    height: 130px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(161, 161, 161, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    width: 1px;
    opacity: 0.5;
}
@media screen and (max-width:1200px){
    .card-text-wrapper p {
        line-height: clamp(13px, 0.938vw,18px);
        height: clamp(39px, 3vw,54px);
    }
}

@media screen and (max-width: 834px){
    .alacarteHero .gastroP p{
        width: 100%;
    }
    .card-text-wrapper p {
       
        height: fit-content;
    }

}

@media screen and (max-width: 576px){
    .restaurant{
        width: 100%;
    }
    .alacarteHeroLower{
        flex-direction: column;
        padding-top: clamp(50px, 4.167vw,80px);

    }
    .alacarteIcons,.gastroP{
        width: 100%;
    }
    .alacarteIcons span{
        width: 200%;
        text-align: center;
    }
    .alacarteHero .gastroP p{
        text-align: center;
    }
    .mobile {
        display: none;
    }
    .gastroHeroText{
        width: 100%;
    }
    .gastroHeroText img{
        height: 80vw;
    }
}

