
.barHero{
    margin: 90px 9.938vw 90px 9.938vw;
}
.barDetailHeroText::before{
    content: '';
    position: relative;
    width: 136px;
    height: 40px;
    left: 0;
top: 0;
    background-image: url(../images/barCafes/bars-icon-replacement.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.barHero h1{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: #233038;
    text-align: center;
    margin: 100px auto 60px auto;
    text-transform: uppercase;
}

.barHero .PubVerticalSlider img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 477px;
}
.barHero .hours span,.barHero .hours{
    display: none;
}
.barHero .BarHorizontalSlider img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 986px;
}
.barHero article{
    width: 70%;
}
.barHero p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}


.barHero .barDetailHeroText{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: 20px;
}


.barHero .hours span{
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: rgba(35, 48, 56, 0.8);
}


@media screen and (max-width: 980px){
  



    .barHero{
    margin: 90px 0px 0px 0px;
    }
    .barHero .row{
        flex-direction: column-reverse;
    }

    .barHero .barDetailHeroText{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
        gap: 30px;
    }

    .barDetailHeroText p {
        text-align: center;
    }

    .PubVerticalSlider figure{
        display: flex;
        justify-content: center;
    }
    .barHero h1{
        margin-top: 60px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 576px){
    .barHero h1{
        font-size: 25px!important;
        line-height: 32px!important;
    }
    .barHero span{
        font-size: 25px!important;
        line-height: 38px!important;
    }
    .barHero p{
        font-size: 13px!important;
        line-height: 22px!important;
    }

   
}
.barSvg{
    display: none;
}