

.blog h1 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #233038;
    margin-top: 200px;
    margin-bottom: 80px;
}

.mb-60{
    margin-bottom: 60px;
}
.textGroup{
    margin-bottom: 100px;
    margin-top: 100px;
}
.blog p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    color: #000000;
}

.blog h2 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #233038;
    margin-top: 100px;
    margin-bottom: 50px;
}

.blog h3 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    color: #233038;
    margin-bottom: 30px;
}

.blog h4 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
    color: #233038;
    margin-bottom: 30px;
}

.blog h5 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    color: #233038;
    margin-bottom: 30px;
}

.recomBlogGrid h6 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #233038;
    margin: 60px 0 80px 0;
}

.h2p{
    margin-bottom: 100px;
}

.blog figure {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.blog img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 780px;
}


.blogVideo {
    margin-top: 60px;
    margin-bottom: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recomBlogGrid a {
    text-decoration: none !important;
}

.recomBlogGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.mobileText{
    display: none;
}

.miniBlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.miniBlog img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
    max-width: 334px !important;
}

.miniBlog span {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #233038;
    display: block;
    white-space: nowrap;
}

.miniBlog p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.miniBlog .blogMoreButton {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #233038;
    padding: 15px 35px;
    border: 1px solid #868686;
    width: 50%;
    margin-left: 25%;
    white-space: nowrap;
}

.blogGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 100px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 100px;
}

@media screen and (max-width: 1400px) {
    .blogGrid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
    }
}

@media screen and (max-width: 800px) {
    .blogGrid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 60px;
    }
    .recomBlogGrid {
        margin-top: 30px !important;
    }
}

.homeVideo {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homeVideo img {
    max-width: 83.438vw;
    height: auto;
    object-fit: cover;
}

.homeVideo svg{
    width: 100%;
    height: auto;
}

.modal-backdrop {
    opacity: 0.8 !important;
}

.homeVideo a {
    position: absolute;
}



.blogHero{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%) , url("../images/blog/blogHero.webp");
    text-align: center;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: auto;
    aspect-ratio: 1920/372;
}

.blogHero h1{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 6px 7px rgba(0, 0, 0, 0.25);
    padding-top: 360px;
    padding-bottom: 40px;
}
@media screen and (max-width: 990px){
   




  
    .h2p{
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 576px) {

    .blogHero{
        background-position: 25% 0%;
        height: 80vh;
        width: 100vw;
        position: relative;
    }


    .blog h1 {
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 0;
    }

    .blog h2 {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 0;
    }
    .blog h3 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 17px;
        line-height: 0;
    }

    .blog h4 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 17px;
        line-height: 0;
        white-space: nowrap;
    }

    .blog p{
        text-align: left;
        font-size: 12px;
        line-height: 18px;
    }

    .blog h5 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 15px;
        line-height: 0;
    }
    .blog h6 {
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0;
    }

    .blog figure{
        margin-top: 60px;
    }

    .mobileText{
        display: block;
        margin: 0 20px 0 20px;
    }

    .mobileText h2{
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0 6px 7px rgba(0, 0, 0, 0.25);
        padding-top: 145px;
        padding-bottom: 20px;
    }

    .mobileText h3{
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0 6px 7px rgba(0, 0, 0, 0.25);
    }

    .blogHero h1{
        display: none;
    }

    .h2p{
        margin-bottom: 60px;
    }
    .mb-60{
        margin-bottom: 40px;
    }

    .blogVideo iframe{
        max-height: 200px;
    }

    .blogVideo{
        margin-bottom: 0;
    }

    .miniBlog p{
        font-size: 13px;
        line-height: 19px;
        text-align: center;
    }

    .miniBlog figure{
        margin: 30px 0 30px 0;
    }

    .miniBlog span{
        font-size: 17px;
        line-height: 42px;
    }

    .blogGrid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .miniBlog .moreButton{
        padding: 11px 33px;
    }
   

    .whatsappText{
        font-size: 12px!important;
        line-height: 30px!important;
    }

   
}
