/* Data Policy - KVKK */

.kvkk-title {
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -1.5px;
    color: #2d2c2c;
    text-align: center;
    margin: 120px 10px 12px 0;
  }
  .kvkk-subtitle {
    position: relative;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 0.93rem;
    color: #a7a7a7;
    padding: 0 0 10px 0;
  }
  .kvkk-subtitle:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 1px;
    background: #db3333;
    margin: 0 auto;
  }
  .kvkk-content {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 28px;
    letter-spacing: 0px;
    color: #878787;
  }
  .kvkk-content a {
    color: #db3333;
  }
  .btn-download {
    background: rgb(236, 208, 35);
    background: -moz-linear-gradient(
      90deg,
      rgba(236, 208, 35, 1) 0%,
      rgba(221, 155, 50, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(236, 208, 35, 1) 0%,
      rgba(221, 155, 50, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(236, 208, 35, 1) 0%,
      rgba(221, 155, 50, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecd023",endColorstr="#dd9b32",GradientType=1);
    border-radius: 40px !important;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
  }
  