.childrenHero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%), url("../images/kidsConcept/childrenCover.webp");
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 75vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}


.childrenHero h1 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 6px 7px rgba(0, 0, 0, 0.25);
    padding-top: 65vh;
}

.childrenText span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: rgba(35, 48, 56, 0.8);
    margin: 80vh 0 30px 0;
}

.childrenText span:after {
    content: '';
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(147, 147, 147, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    width: 100%;
    margin: 50px 0 50px 0;
    opacity: 0.5;
}

.childrenSpecsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.childrenSpecsInfo svg {
    width: 45px;
    height: 45px;
}

.childrenSpecsInfo p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(35, 48, 56, 0.8);
    margin-top: 30px;
}

.childrenDetailSpecs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.childrenActivitySlider {
    margin-left: 22.55vw;
    margin-bottom: 80px;
}

.childrenActivitySlider .swiper-wrapper {
    padding-bottom: 100px;
}

.childrenActivitySlider img {
    width: 100%;
    object-fit: cover;
    max-width: 410px;
}

.childrenActivitySlider figure {
    width: 21.354vw;
    height: auto;
    position: relative;
    max-width: 410px;

}

.childrenActivitySlider figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.slider-row {
    width: 75vw;
    margin-left: -5vw;
}

.row-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.icon-row {
    width: 24.323vw;
}

.childrenActivitySlider figure:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #CFCFCF;
    left: 48px;
    top: 97px;
    z-index: -1;
}

.childrenActivitySlider h5 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 1%;
    left: 1%;
    text-transform: uppercase;
}

.childrenActivitySlider span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #F8F8F8;
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 0%;
    right: 0%;
}

.childrenActivitySlider p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100%;
    width: 60%;
}


.activitySlider .swiper-button-next {
    opacity: 0.5;
    margin-top: 10%;
    margin-right: 32.5%;
}

.activitySlider .swiper-button-next:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.activitySlider .swiper-button-next:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.activitySlider .swiper-button-prev {
    opacity: 0.5;
    margin-top: 10%;
    margin-left: 30.5%;
}

.activitySlider .swiper-button-prev:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.activitySlider .swiper-button-prev:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

/* Activity Slide End */


.foodSlide {
    margin-bottom: 100px;
}

.foodSlide .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.childrenFoodSlider .swiper-wrapper {
    padding-bottom: 100px;
    padding-right: 100px;
}

.childrenFoodSlider img {
    width: 100%;
    object-fit: cover;
    max-width: 410px;
}

.childrenFoodSlider figure {
    width: 21.354vw;
    height: auto;
    position: relative;
    max-width: 410px;
}

.childrenFoodSlider figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.childrenFoodSlider figure:after {
    content: '';
    position: absolute;
    width: 99%;
    height: 100%;
    border: 1px solid #CFCFCF;
    left: 48px;
    top: 97px;
    z-index: -1;
}

.childrenFoodSlider h5 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 1%;
    left: 1%;
    text-transform: uppercase;
}

.childrenFoodSlider span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #F8F8F8;
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 0%;
    right: 0%;
}

.childrenFoodSlider p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    position: absolute;
    top: 100%;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
}

.sliderIcon img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.sliderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childrenFoodSlider .swiper-button-next {
    opacity: 0.5;
    margin-top: 10%;
    margin-right: 34%;
}


.childrenFoodSlider .swiper-button-next:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.childrenFoodSlider .swiper-button-next:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.childrenFoodSlider .swiper-button-prev {
    opacity: 0.5;
    margin-top: 10%;
    margin-left: 28%;
}

.childrenFoodSlider .swiper-button-prev:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.childrenFoodSlider .swiper-button-prev:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

#childrenCarousel {
    position: relative;
}

#childrenCarousel figure {
    position: relative;
}

#childrenCarousel figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}

#childrenCarousel h5 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    position: absolute;
    bottom: 18%;
    left: 25%;
}

#childrenCarousel h5:after {
    content: '';
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    left: -30%;
    bottom: -10px;
}

#childrenCarousel p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    bottom: 8%;
    left: 25%;
}


#childrenCarousel span {
    position: absolute;
    bottom: 10%;
}



.homeSpecialOffer:after {
    display: none !important;
}

.specialOfferSlider span {
    font-family: 'Montserrat', serif !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    text-align: center;
    color: #FFFFFF !important;
}

.specialOfferSlider figure {
    position: relative;
}

.specialOfferSlider p {
    font-family: 'Lora', serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 25px !important;
    line-height: 32px !important;
    color: #FFFFFF !important;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) !important;
    text-transform: uppercase;
    margin-top: 21px;
    margin-bottom: 15px;
}
.specialOfferSlider article{
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 0;
    margin-top: 25%;
}
.homeSpecialOffer .swiper-slide:after {
    content: ' ';
    width: 100%;
    height: 90%;
    position: absolute;
    max-width: 343px;
    border-top: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
    border-image: linear-gradient(to bottom, #CFCFCF, white) 10;
    z-index: -1;
    top: 0;
    margin-left: 100px;
}

.homeSpecialOffer img{
    width: 100%;
    object-fit: cover;
    max-width: 343px;
}
.homeSpecialOffer .swiper-slide{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.specialOfferSlider figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.pageUpButton {
    margin-top: 0;
    text-align: center;
}

@media screen and (max-width: 1281px) {
    .childrenActivitySlider figure:after {
        width: 93% !important;
    }
    .specialOfferSlider article{
        margin-top: 35%;
    }

    .childrenFoodSlider h5 {
        font-size: 19px;
    }

    .childrenActivitySlider h5 {
        font-size: 19px;
    }

    .childrenActivitySlider p {
        left: 5% !important;
        top: 100% !important;
    }

    .activitySlider .swiper-button-prev {
        margin-left: 29.5% !important;
    }

    .activitySlider .swiper-button-next {
        margin-right: 32% !important;
    }

    .childrenFoodSlider figure:after {
        width: 93% !important;
    }

    .childrenFoodSlider p {
        left: 15% !important;
        top: 100% !important;
    }

    .childrenFoodSlider .swiper-button-prev {
        margin-left: 30% !important;
    }

    .childrenFoodSlider .swiper-button-next {
        margin-right: 31% !important;
    }
}

@media screen and (max-width: 880px) {
    .homeSpecialOffer img {
        width: 100% !important;
    }

    .childrenActivitySlider figure {
        width: 80% !important;
    }

    .childrenFoodSlider figure {
        width: 80% !important;
    }

    .icon-row {
        display: none;
    }

    .childrenActivitySlider {
        margin-left: 100px !important;
    }

    .row-swiper {
        display: block !important;
        margin-right: 40px;
    }

    .slider-row {
        width: 100%;
        margin-left: 0 !important;
    }

    .childrenFoodSlider {
        padding-right: 80px !important;
    }

    .childrenActivitySlider h5 {
        font-size: 19px !important;
    }

    .childrenFoodSlider h5 {
        font-size: 20px !important;
    }

    .childrenActivitySlider p {
        width: 70% !important;
        left: 20% !important;
        top: 100% !important;
    }

    .childrenFoodSlider p {
        width: 70% !important;
        left: 20% !important;
        top: 100% !important;
    }

    .activitySlider .swiper-button-prev {
        margin-left: 36.5% !important;
        margin-top: 19% !important;
    }

    .activitySlider .swiper-button-next {
        margin-right: 13% !important;
        margin-top: 19% !important;
    }

    .childrenFoodSlider .swiper-button-prev {
        margin-left: 25% !important;
        margin-top: 19% !important;
    }

    .childrenFoodSlider .swiper-button-next {
        margin-top: 19% !important;
    }

}

@media screen and (max-width: 576px) {
    .childrenHero h1 {
        font-size: 25px !important;
        line-height: 32px !important;
    }

    .childrenText span {
        font-size: 18px !important;
        line-height: 27px !important;
        text-align: center !important;
        margin: 80vh 0 50px 0 !important;
    }

    .childrenText span:after {
        display: none !important;
    }

    .childrenSpecsInfo {
        min-width: 25vw;
    }

    .childrenSpecsInfo p {
        font-size: 12px !important;
        line-height: 15px !important;
    }

    .childrenDetailSpecs {
        margin-bottom: 60px !important;
    }

    .childrenDetailSpecs {
        flex-wrap: wrap;
        column-gap: 2px;
        row-gap: 54px;
        justify-content: space-evenly;
    }

    .childrenActivitySlider {
        margin-left: 10px !important;
    }

    .childrenActivitySlider figure {
        width: 100% !important;
    }

    .childrenActivitySlider p {
        left: 32% !important;
        top: 100% !important;
        font-size: 13px !important;
        line-height: 19px !important;
    }

    .childrenActivitySlider .swiper-button-prev {
        display: none !important;
    }

    .childrenActivitySlider .swiper-button-next {
        margin-right: 5% !important;
        margin-top: -31% !important;
    }

    .row-swiper {
        margin-right: 10px !important;
    }

    .childrenFoodSlider figure {
        width: 100% !important;
    }

    .childrenFoodSlider {
        padding-right: 0px !important;
    }

    .childrenFoodSlider p {
        left: 29% !important;
        top: 100% !important;
        font-size: 13px !important;
        line-height: 19px !important;
    }

    .childrenFoodSlider .swiper-button-next {
        display: none;
    }

    .childrenFoodSlider .swiper-button-prev {
        margin-left: -3% !important;
        margin-top: -31% !important;
    }

    #childrenCarousel img {
        width: auto !important;
        margin-left: -80vw !important;
        height: 50vh !important;
    }

    #childrenCarousel h5 {
        bottom: 80% !important;
    }

    #childrenCarousel p {
        bottom: 68% !important;
    }
}

.kidsSvg {
    width: 35px !important;
    height: 40px !important;
    object-fit: unset !important;
}