.meetingHero{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 89px;
}
.heroImage img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.heroImage figure{
    position: relative;
}

.heroImage figure:before{
    content: ' ';
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
}

.meetingHero article h1{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
}

.meetingHero article{
    position: absolute;
    margin: auto;
    z-index: 3;
    bottom: 40px;
}

.options{
    display: flex;
    gap: 5.052vw;
    justify-content: center;
    margin-top: 88px;
    margin-bottom: 88px;
}

.options a{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    z-index: 2;
    line-height: 24px;
    position: relative;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #233038;
    text-decoration: none !important;
    padding: 11px 55px;
    transition: all .2s linear;
}
.options a:hover {
    color: #FFFFFF;
    background-color: #233038;
    border: 1px solid #FFFFFF;
    transition: all .2s linear;
}

.roomlink{
    display: contents;
}

.meetingSection {
    margin: 83px 6.406vw 83px 6.406vw;
}



.pageUpButton {
    margin-bottom: 0;
    padding-bottom: 30px;
    margin-top: 0;
}

.meetingSection img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.meetingSection article {
    position: relative;
}

.leftText {
    margin-right: 10.125vw;
    margin-left: 5.208vw;
}

.rightText {
    padding-left: 10.167vw;
    margin-right: 5.208vw;
}

.meetingSection article h2 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: #233038;
    text-transform: uppercase;
}

.meetingSection article h2:after {
    content: '';
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(147, 147, 147, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    width: 30%;
    margin: 30px 0 30px -35px;
    opacity: 0.5;
}

.meetingSection article p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 30px;
}

.meetingSection article span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #3D515E;
    display: block;
    margin-bottom: 30px;

}

.meetingSection .moreButton {
    justify-content: flex-start;
}

.meetingSection .col-lg-5 {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1281px) {
    .meetingSection {
        margin: 60px 4.406vw 100px 4.406vw !important;
    }
}

@media screen and (max-width: 880px) {
    .leftText{
        margin-right: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meetingSection article h2:after{
        width: 100%;
        margin: 30px 0 30px 0px;
    }

    .meetingSection article p{
        text-align: center;
        width: 80%;
    }

    .meetingSection .reverse{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .rightText{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heroImage img{
        height: 70vh;
    }

    .options{
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .options a{
        width: 50%;
    }
}

@media screen and (max-width: 576px){
    .meetingHero article h1{
        font-size: 25px!important;
        line-height: 37px!important;
    }
    .meetingHero article h1:after{
        width: auto;
        margin: 20px;
    }

    .meetingHero article span{
        font-size: 17px!important;
        line-height: 22px!important;
    }
    .meetingSection{
        margin-bottom: 80px !important;
    }

    .meetingSection h2{
        font-size: 25px !important;
        line-height: 32px !important;
        margin-top: 30px!important;
    }

    .meetingSection h2:after{
        margin: 20px 0 20px 0 !important;
    }

    .meetingSection p{
        font-size: 13px!important;
        line-height: 19px!important;
    }

    .options a{
        width: 80%!important;
        font-size: 16px!important;
        line-height: 18px!important;
    }
}



