.mainHeader{
    margin-top: 87px;
}

.mainHeader span{
    display: block;
    position: absolute;
}
.mainHeader .video figure{
    position: relative;
}
.mainHeader .video figure:before{
    content: '';
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
}


.mainHeader .video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHeader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.restaurantInfo{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
padding: clamp(50px, 5.2vw, 100px) 0px;


}

.restaurantInfo .hours{
    display: none;
    flex-direction: column;
    padding: 53px 97px;
    border: 1px solid #CFCFCF;
    gap: 30px;
    justify-content: center;
}

.hours .time{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 13px;
    align-items: center;
}

.time span{
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: rgba(35, 48, 56, 0.8);
}

.restaurantText{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
    gap: min(141px, 7.344vw);
}
.restaurantText h1{
    font-family: 'Lora', serif;
    font-style: normal;
    margin: 0px 0px -1vw 0px!important;
    font-weight: 500;
    font-size: 40px;
    text-align: right;
    width: min(26.51vw, 509px    );
    line-height: 51px;
    color: #233038;
    position: relative;
    text-transform: uppercase;
}

.restaurantText p:after{
    content: '';
    height: 150%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(147, 147, 147, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    position: absolute;
    width: 1px;
    left: max(-70px, -3.646vw);
    top: -30%;
    opacity: 0.5;
}

.restaurantText p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: min(26.51vw, 509px    );
    line-height: 22px;
    position: relative;
    color: #000000;
}

.restaurantText span{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    display: none;
    font-size: 15px;
    line-height: 22px;
    color: #3D515E;
}


.restaurantsSpecialOffer {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 15%;
    position: relative;
}

.video:after{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.restOtherSlider h5 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(15px, 1.146vw,22px);
    line-height: clamp(20px, 1.563vw,30px);
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 52px;
    left: 8px;
    z-index: 100;
}
.mainRestSlider figure{
    margin: 0px!important;
}
.mainRestSlider a {
    width: 100%;
    height: 100%;
    display: flex;
}
 .mainRestSlider{
    height: 100%;
    width: 100%;
 }
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mobilevideo {
    display: none;
}

.modal-backdrop {
    opacity: 0.8 !important;
}

#restaurantIframeMobile{
    width: 100vw!important;
    height: 80vh!important;
}
#restaurantIframeDesktop{
    width: 80vw;
    height: 60vh;
}
.modal-content{
    justify-content: center;
    align-items: center;
}

.video .playButton {
    height: 70px;
    width: 70px;
    z-index: 4;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.mobilevideo .playButton{
    height: 35px;
    width: 35px;
    z-index: 4;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.videoCover{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover!important;
    position: unset!important;
}

.restPlayButtonDesktop,.restPlayButtonMobile{
width: 100%;
height: 100%;}
.restSpecialOffer {
    margin-top: 100px;
    margin-left: clamp(0px,20.26vw ,389px);
    position: relative;
}

.restSpecialOffer h6 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #233038;
    margin-bottom: 30px;
    z-index: 100;
}

.restSpecialOffer figure img {
    width: 343px;
    height: 100%;
    object-fit: cover;

    max-width: 343px;
    position: relative;
    z-index: 25;
}

.restSpecialOffer figure {
    position: relative;
    z-index: 25;
    margin-top: 48px;
}

.restSpecialOffer figure:before{
    content: '';
    position: absolute;
    height: 100%;
    max-width: 343px;
    width: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 96;
}

.restSpecialOffer .swiper-slide {
    position: relative;
    z-index: 20;
    transform: none !important;
    transition-property: none !important;
}


.backgroundLines {
    width: 100%;
    height: 90%;
    position: absolute;
    max-width: 343px;
    border: 1px solid #CFCFCF;
    z-index: -500;
    top: 0;
    left: 48px;
}

.restSpecialOffer .specialSvg {
    width: unset !important;
    height: unset !important;
    object-fit: unset !important;
    position: relative;
    z-index: 30;
}

.restSpecialOffer .swiper-slide-active .backgroundLines img, .swiper-slide-next .backgroundLines img {
    opacity: 1;
}

.restSpecialOffer .swiper {
    padding-bottom: 30px;
}

.restOtherSlider .swiper-pagination-bullet-active {
    color: #66252B;
}

.restOtherSlider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: transparent;
}

.restOtherSlider .swiper-pagination {
    width: 60% !important;
}

.restOtherSlider .swiper-button-next {
    left: 782px;
    position: absolute;
}
.restOtherSlider .swiper-button-prev {
    left: 353px;
    position: absolute;
}
.restOtherSlider .swiper-button-next, .restOtherSlider .swiper-button-prev{
    top: 464px;
    position: absolute;
}

.backgroundLines img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -35%;
    top: 75%;
    z-index: 0;
    opacity: 0;

}
.restSpecialOffer .swiper-button-next:after,.restSpecialOffer .swiper-button-prev:after{
    display: none;
}
.restOtherSlider .swiper-button-prev, .restOtherSlider .swiper-button-next {
    width: 70px;
    height: 70px;
    z-index: 1;

}

.restSpecialOffer .swiper-button-prev .restSvg:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.restSpecialOffer .swiper-button-prev .specialSvg:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.restSpecialOffer .swiper-button-next .restSvg:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.restSpecialOffer .swiper-button-next .restSvg:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.restOtherSlider article {
    position: absolute;
    text-align: center;
    top: 0;
    margin-top: 25%;
    left: 0;
    right: 0;
    max-width: 343px;
    z-index: 25;
}



@media screen and (max-width: 1024px){

.backgroundLines{
    width: 100%!important;
}

    .restSpecialOffer .swiper-pagination{
        width: 74%;
    }
    .restaurantText p ,.restaurantText h1{
        width: 40vw;
    }
    .restaurantText p::after{
        height: 20vw;
        top: -3vw;
    }
    .restaurantText{
        height: fit-content;
        padding: 5vw 5vw 10vw 5vw;
    }
}

@media screen and (max-width: 991px){

    .restSpecialOffer {
        margin-top: 60px;
    }
    .restOtherSlider .swiper-button-prev{
        display: none;
    }
   
    .restOtherSlider .swiper-button-next{
        left: 353px;
    }









    .mobilevideo{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .video{
        display: none !important;
    }

    .restaurantInfo .hours{
        padding: 50px 60px;
    }
}
@media screen and (max-width: 576px){
    .restOtherSlider .swiper-button-next{
        left: 281px;
        top: 394px;
    }

    .restSpecialOffer{
        margin-left: clamp(0px,10.26vw ,389px);
    }
    .restSpecialOffer figure img,.restSpecialOffer figure:before{
        width: 280px;
    }.backgroundLines{
        left: 36px!important;
        width: 280px!important;
    }
    .restSpecialOffer figure{
        margin-top: 36px;
    }
    .restaurantText{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .restaurantText h1{
        font-size: clamp(20px,6.944vw, 40px);
    }
    .restaurantText p{
        font-size: clamp(12px,2.604vw, 15px);
    }
    .restaurantText p::after{
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(147, 147, 147, 1) 50%, rgba(0, 0, 0, 0) 100%);
        top: max(-70px, -3.65vw);
        left: -2vw;
    }
    .restaurantText p ,.restaurantText h1{
        width: 80vw;
        text-align: left;
    }
    .mobilevideo{
        margin-top: 60px;
    }
 

}
.restSvg{
    width: unset!important;
    height: unset!important;
    object-fit: unset!important;
}