.spaHero {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 89px; /* 27.03 line changed */
}

.spaHero .heroImage img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.spaHero .heroImage figure {
    position: relative;
}
.spaSecondSlider{
    margin-right: 20vw;
}
.spaHero .heroImage figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 90%);
}
.swiper-button-next:after,.swiper-button-prev::after{
    display: none!important;
}
.spaHero h1 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #F8F8F8;
}

.spaHero article {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 1;
}

.spaHeaderText {
    margin: 71px 17.792vw 71px 22.792vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5.107vw;
}

.spaHeaderText .hours {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: 1px solid #CFCFCF;
    padding: 33px 5.573vw;
    align-items: center;
}

.spaHeaderText .hours span {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: rgba(35, 48, 56, 0.8);
    white-space: nowrap;
}

.spaHeaderText p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: rgba(35, 48, 56, 0.8);
}

.spaFirstSlider {
    margin-left: 22.55vw;
}

.spaFirstSlider .swiper-wrapper, .spaSecondSlider .swiper-wrapper {
    padding-bottom: 150px;
}

.spaFirstSlider img {

    object-fit: cover;
width: 410px;
}

.spaFirstSlider figure {
    width: 410px;
    height: auto;
    position: relative;
    max-width: 410px;
}

.spaFirstSlider figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
}

/* 30.03 added*/
.spaFirstSlider .swiper-button-next {
    position: absolute;
    left: 961px;
    right: auto;
    top: 400px;
}

.spaFirstSlider .swiper-button-next:not(:hover) {
    opacity: 0.5;
}

.spaFirstSlider .swiper-button-next:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.spaFirstSlider .swiper-button-prev {
    position: absolute;
    left: 446px;
    top: 400px;
}

.spaFirstSlider .swiper-button-prev:not(:hover) {
    opacity: 0.5;
}

.spaFirstSlider .swiper-button-prev:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

/* 30.03 added end */

.spa-slider-row {
    width: 75vw;
    margin-left: -5vw;
}

.spa-row-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-right: -62px;
}

.icon-row {
    width: 24.323vw;
}


.swiper-pagination{
    width: 100%!important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 39px;
    left: auto;
    right: auto;
}.spaFirstSlider .swiper-pagination{
    margin-left: 15vw;
}
.spaSecondSlider .swiper-pagination{
    padding-right: 42vw;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background: transparent;
}
.swiper-pagination-bullet-active {
    color: #66252B;
}
.spaFirstSlider h5 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 1%;
    left: 1%;
    text-transform: uppercase;
}


.spaSecondSlider .swiper-button-next:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.spaSecondSlider .swiper-button-next:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}



.spaSecondSlider .swiper-button-prev:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.spaSecondSlider .swiper-button-prev:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

/* Activity Slide End */








.spaSecondSlider img {

    object-fit: cover;
width: 410px;
}

.spaSecondSlider figure {
    height: auto;
    position: relative;
width: 410px;
}

.spaSecondSwiperSlider figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.spaSecondSwiperSlider h5 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 1%;
    left: 23%;
    text-transform: uppercase;
}


.spaSecondSwiperSlider .swiper-button-next {
    opacity: 0.5;
    position: absolute;
    top: 400px;
    right: 448px;
    left: auto;
}


.spaSecondSwiperSlider .swiper-button-next:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.spaSecondSwiperSlider .swiper-button-next:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.spaSecondSwiperSlider .swiper-button-prev {
    opacity: 0.5;
    position: absolute;
    right: 962px;
    left: auto;
    top: 400px;
}
.spaFirstSlider figure::after,.spaSecondSwiperSlider figure::after{
    content: '';
    position: absolute;
    width: 410px;
    height: 610px;
    border: 1px solid #CFCFCF;
    left: 52px;
    top: 48px;
    z-index: -1;

}

.spaBgLine {
    width: 21.354vw;
    height: 100%;
    max-width: 410px;
    border: 1px solid #CFCFCF;
    left: 2.656vw;
    top: 2.656vw;
    z-index: -1;
    position: absolute;
}

.spaRadialBg {
    width: 200px !important;
    height: 200px !important;
    position: absolute;
    z-index: 3;
    opacity: 0;
    left: 75%;
    top: 55%;
}

.spaSecondSwiperSlider .swiper-button-prev:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.spaSecondSwiperSlider .swiper-button-prev:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.spaSecondSwiperSlider .swiper-slide-active .spaBgLine .spaRadialBg, .swiper-slide-prev .spaBgLine .spaRadialBg {
    opacity: 1;
}

.spaFirstSlider .swiper-slide-active .spaBgLine .spaRadialBg, .swiper-slide-next .spaBgLine .spaRadialBg {
    opacity: 1;
}
.swiper-slide p{
    direction: ltr;
}
.indoorPool figure img {
width: 100vw;
height: 100%;
object-fit: cover;
}

.indoorPool figure {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.indoorPool h3 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    text-decoration: none!important;
    line-height: 42px;
    color: #233038;
}
.indoorPool a{
    width: 100%;
    height: 100%;
    display: block;
}
.indoorPool {
    position: relative;
}

.indoorPool article {
    position: absolute;
    bottom: 50px;
    left: 20.104vw;
}

.spaMoreButton {
    justify-content: left;
}
.roomlink{
    text-decoration: none!important;
}
.spaMoreButton .roomlink{
    display: none!important;
}
.spaMoreButton a {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none!important;
    font-size: 14px;
    line-height: 17px;
    width: 150px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #233038;
    background: transparent;
    margin-top: 30px;
    border: 1px solid #233038;;
}

.spaMoreButton a:not(:hover) {
    color: #233038;
    background: transparent;
    transition: all 0.3s linear;
}

.spaMoreButton a:hover {
    background: #233038;
    color: #FFFFFF !important;
    transition: all 0.3s linear;
}



.pageUpButton {
    text-align: center;
}




@media screen and (max-width: 1200px) {
.spaFirstSlider .swiper-button-prev{
    display: none;
}
.spaFirstSlider .swiper-button-next{
left: 450px;
}
}


@media screen and (max-width: 880px) {

 

    .heroImage img {
        height: 53vh;
    }

    .spaHeaderText p {
        margin: 53px 15.25vw 0 15.25vw;
        text-align: center;
    }

    .spaHeaderText {
        margin: 71px 6.792vw 71px 6.792vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }


   
    .indoorPool{
        height: 400px;
    }

}

@media screen and (max-width: 576px) {
    .heroImage img {
        height: 65vh;
    }
    .spaFirstSlider .swiper-button-next{
        top: 238px;
        left: 306px;
    }

.spaFirstSlider{
    margin-right: 0px;
    margin-left: 5vw;
}
.spaSecondSlider{
    margin-right: 5vw;
}
    .heroImage {
        margin-bottom: 0;
    }
    .spaSecondSlider figure, .spaFirstSlider figure, .spaSecondSlider img,.spaFirstSlider img, .spaFirstSlider figure::after, .spaSecondSwiperSlider figure::after{
        width: 280px;

    }
    .spaFirstSlider figure::after, .spaSecondSwiperSlider figure::after{
        height: 410px;
        left: 38px;
        top: 38px;
    }
    .spaHeaderText p {
        font-size: 15px !important;
        line-height: 26px !important;
        margin: 40px 15.25vw 0 15.25vw;
    }

    .line {
        margin-top: 50px;
        margin-bottom: 60px;
    }

  
    .spaBgLine {
        width: 105%;
    }
.spaSecondSlider .swiper-button-next{
    display: none;

}
.spaSecondSlider .swiper-button-prev{
    right: 303px;
    top:238px ;
}
  
    .pageUpButton {
        margin-top: 60px !important;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 56px;
    }
}

.spaSvg {
    width: unset !important;
    height: unset !important;
    object-fit: unset !important;
}